{% extends "layout.html" %}

{% block title %}
    How To Play
{% endblock %}

{% block main %}
    <div class="container">
        <h1 class="head"> How To Play </h1>
        <hr>
            <p>Welcome to the game "{{ user }}"! Here's how to play:</p>
        <ol>
        <li>Step 1: <b>Start the Game</b> by clicking the "Play" button on the main menu.</li>
        <li>Step 2: <b>Select Your Continent</b> by choosing from clicking on the continent</li>
        <li>Step 3: <b>Answer the questions</b> asked in the quiz.</li>
        <li>Step 4: <b>Compare your scores</b> by going to the leaderboard page.</li>
        </ol>
        <p>Good luck and have fun!</p>
    </div>
{% endblock %}